# Python
__pycache__/
*.py[cod]
.env
*.egg-info/
.venv/
venv/

# Node / Next.js
node_modules/
.next/
out/
*.env.local

# Secrets
*.json.bak
kanen_youtube_token.json
kanen_youtube_oauth_credentials.json
